@page "/tradeorders/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@inject NavigationManager _navManager
@inject HttpInterceptorService _interceptor
@implements IDisposable

<h3 class="card-title">TradeOrder</h3>
<br />

<a href="/tradeorders/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New TradeOrder
</a>
<br />
<br />

@if (TradeOrders == null)
{
    <div class="alert alert-info">Loading TradeOrders...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>OrderDate</th>
                <th>OrderTime</th>
                <th>DeliverType</th>
                <th>StaffId</th>
                <th>CustomerId</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var TradeOrder in TradeOrders)
            {
            <tr>
                <td>@TradeOrder.OrderDate</td>
                <td>@TradeOrder.OrderTime</td>
                <td>@TradeOrder.DeliveryType</td>
                <td>@TradeOrder.StaffId</td>
                <td>@TradeOrder.CustomerId</td>
                <td>
                    <a href="/tradeorders/view/@TradeOrder.Id" class="btn btn-primary">
                        <span class="oi oi-book"></span>
                    </a>
                    <a href="/tradeorders/edit/@TradeOrder.Id" class="btn btn-warning">
                        <span class="oi oi-pencil"></span>
                    </a>
                    <button class="btn btn-danger" @onclick="@(()=>Delete(TradeOrder.Id))">
                        <span class="oi oi-delete"></span>
                    </button>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<TradeOrder> TradeOrders;

    protected async override Task OnInitializedAsync()
    {
        _interceptor.MonitorEvent();
        TradeOrders = await _client.GetFromJsonAsync<List<TradeOrder>>($"{Endpoints.TradeOrdersEndpoint}");
    }

    async Task Delete(int TradeOrderId)
    {
        var TradeOrder = TradeOrders.First(q => q.Id == TradeOrderId);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {TradeOrder.Id}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.TradeOrdersEndpoint}/{TradeOrderId}");
            await OnInitializedAsync();
        }
    }
    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}
