<EditForm Model="@sellorder" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    @*<fieldset disabled="Disabled">*@
    <div class="form-group">
        <label>First Name: </label>
        <div>
            <InputDate @bind-Value="@sellorder.OrderDate" class="form-control" />
            <ValidationMessage For="@(() => sellorder.OrderDate)" />
        </div>
    </div>
    <div class="form-group">
        <label>Last Name: </label>
        <div>
            <InputDate @bind-Value="@sellorder.OrderTime" class="form-control" />
            <ValidationMessage For="@(() => sellorder.OrderTime)" />
        </div>
    </div>
    <div class="form-group">
        <label>Driving License: </label>
        <div>
            <InputText @bind-Value="@sellorder.DeliveryType" class="form-control" />
            <ValidationMessage For="@(() => sellorder.DeliveryType)" />
        </div>
    </div>
    @*</fieldset>*@
    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }
    <BackToList Target="sellorders" />
</EditForm>

@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public SellOrder sellorder { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
